/* SECTION-ONE */
/* mid . css me kuch change krna hai */
.firstsec {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
  height: 253px;
  background: #000000;
  background: linear-gradient(to right, #161616, #000000);
  /* background-image: url("../media/bgimag.jpeg"); */
  /* color: #fff; */
}

.homecontainer {
  display: inline-flex;

}
.citron{
      font-size: 48px;
    padding: 5px;
    margin-top: 21px;
}
.homecontainer .static-text {
  color: #fff;
  font-size: 60px;
  font-weight: bolder;
  margin-top: 1.3%;
}
.dynamic-text {
  margin-left: 15px;
  margin-top: 10px;
  height: 80px;
  line-height: 90px;
  overflow: hidden;
  /* line-height: 90px; */
}
.dynamic-text li {
  list-style: none;
  font-size: 50px;
  color: rgb(252, 119, 212);
  font-weight: bolder;
  position: relative;
  top: 0;
  animation: slide 3s steps(4) infinite;
}
@keyframes slide {
  100% {
    top: -370px;
  }
}
/* for text list 1 */
.textlist1 {
  position: relative;
  /* ye avl nahi hai */
  /* top:-14px */
}
.textlist1::after {
  content: "";
  color: rgb(255, 29, 29);
  position: absolute;
  left: 0;
  top: 5px;
  height: 100%;
  width: 100%;
  
  /* code to insert the typing effect on the mid component  */

  /* background: linear-gradient(to right, #161616, #000000); */
  /* border-left: 2px solid rgb(252, 119, 212); */
  animation: typemafia1 1s steps(11) infinite;
}
@keyframes typemafia1 {
  100% {
    left: 100%;
    margin: 0px -35px 0px 35px;
  }
}
